<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home - Intermass Tools</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <h1>Internal Report System</h1>

    <div class="tools-container">
        <a class="tool-box" href="{{ url_for('tool1') }}">Cost Report</a>
        <a class="tool-box" href="{{ url_for('tool2') }}">Cost Details Report</a>
    </div>
</body>
</html>
